@import "https://www.nerdfonts.com/assets/css/webfont.css";

* {margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}

.dark-bg-custom {
    background: rgb(33, 37, 41);
}

.left-bar {
    left: 0;
    position: absolute;
    min-width: 18rem;
    /* border-top: 1px rgba(33, 37, 41, 0.5); */
    height: 100vh;
    background: rgb(33, 37, 41);
    color: white;
}

.content {
    margin-left: 18rem;
    padding: 20px;
    /* position: absolute; */
    background: #424242;
    color: white;
    /* min-width: 75vw; */
    min-height: 100vh;
}

.logo {
    width: 25px !important;
    height: 25px !important;
    margin: 10px;
    margin-right: 15px;
}

#home-collapse, #dashboard-collapse, #orders-collapse, #account-collapse {
    margin-left: 20px;
}

.login-header {
    display: flex;
    justify-content: center;
    align-content: center;
    background: black;
    color: white;
    padding: 20px;
}

body {
    background: #424242;
    color: white;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 25px;
    font-size: 16px;
    font-weight: bold;
    background: rgba(0,0,0,0.1);
    border-radius: 12px;
    max-width: 500px;
}

.login-content a {
    text-decoration: underline;
    font-weight: normal;
    color: white;
}

.login-content input {
    margin: 10px;
    padding: 10px;
    width: 15vw;
    height: 18px;
    background: #262626;
    color: white;
    border: none;
    border-radius: 6px;
    min-width: 200px;
}

#login {
    margin: 20px;
    height: 36px;
    background: #b9ffb5;
    color: #424242;
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#email-error {
    color: red;
    font-weight: normal;
    margin-left: 10px;
}

.email-div {
    display: flex;
}

.float-me {
    position:fixed;
    left: 40vw;
    bottom: 5%;
    background: rgb(33, 37, 41);
    margin: 20px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.float-me input {
    min-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px;
    border-radius: 6px;
    border: none;
    color: white;
}

.c-text-bold {
    font-weight: bold;
}

.float-me .c-bg-green {
    background: #b9ffb5;
    color:rgb(33, 37, 41);
}

.float-me .c-bg-secondary {
    background: rgb(33, 37, 41);
    margin-top: 5px;
    border: 1px solid white;
}

.table-button {
    min-width: 30px;
    background: rgba(255, 255, 255, 0.2);
    padding: 3px;
    margin: 5px;
    margin-right: 10px;
    margin-left: 0px;
    border-radius: 6px;
    border: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: background, border ease-in-out 0.3s;
    font-size: 0.7em;
    min-height: 30px;
}

.table-button:hover {
    background: none;
    border: 1px solid white;
    transition: background, border ease-in-out 0.2s;
}

.table-button:active {
    background: white;
    color: rgb(33, 37, 41);
    transition: background, border ease-in-out 0.2s;
}

.btn {
    border: none;
    background: none;
    padding: 0 !important;
    cursor: pointer;
}

.acc-input {
    min-width: 300px;
    background: rgba(255, 255, 255, 0.2);
    padding: 3px;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 0.8em;
}
